<style>
    .about-intro {
        background: url('https://png.pngtree.com/thumb_back/fw800/back_our/20190620/ourmid/pngtree-h5-web-design-sci-fi-background-banner-image_156041.jpg')
        no-repeat center center;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
</style>

<div class="about-intro">
    <div class="container" >
        <div style="height: 40vh">
            <div class="flex-center flex-column" itemid="web developer">
                <div class="row justify-content-center align-items-center" itemref="web development">
                    <div class="col-md-12 text-right">
                        <h1>About Stephen Brooks</h1>
                        <h2>Web Developer & Designer for hire</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>