<div class="container mt-5">
    <div class="row">
        <h2 class="display-2 font-weight-bold">What I do
            <hr class="line" />
        </h2>
    </div>
    <div class="row mt-5">
        <div class="col-md-6 p-2">
            <h2>Page Layouts</h2>
            <p class="lead">
                Customized with Html5, Css, JavaScript and Bootstrap for ultimate responsiveness. Building a nice landing page to send people to will speak many words to them,
                but it has to be able to fit on any screen size for best results.
            </p>
        </div>
        <div class="col-md-6 p-2">
            <div class="row">
                <div class="col-md-6 p-2 wow fadeIn">
                    <img src="http://www.webdesignskills.us/wp-content/uploads/2019/04/what-does-a-web-designer-do.jpeg"
                         class="img-fluid"
                         alt="img" />
                </div>
                <div class="col-md-6 p-2 wow fadeIn">
                    <img src="https://wallpaperset.com/w/full/0/b/8/313103.jpg"
                         class="img-fluid"
                         alt="img" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 p-2 wow fadeInRight">
                    <img src="https://cdn.searchenginejournal.com/wp-content/uploads/2020/01/which-web-design-platform-is-right-for-you-5e4d59fb941b9.png"
                         class="img-fluid"
                         alt="img" />
                </div>
            </div>
        </div>
    </div>
    <div class="row mt-5">
        <div class="col-md-4 p-2">
            <img src="http://www.lsa-conso.fr/mediatheque/2/8/9/000152982_5.jpg"
                 class="img-fluid"
                 alt="web developer">
        </div>
        <div class="col-md-8 p-2">
            <h2>Stephen Brooks</h2>
            <p class="lead">
                <strong>Web Developer & Designer</strong> - Building websites to scale on any device. I had spent 17 years of my life in the Military,
                then prior to getting out I learned how to build websites from Bottega University. With them, I studied html, css, javascript, node.js, React,
                SQL, Python and jQuery.
            </p>
            <a href="mailto:stephenbrooks714@gmail.com" class="btn btn-outline-info">Email Me Directly</a>
        </div>
    </div>
    <div class="row mt-5">
        <h2 class="display-4 font-weight-bold">Some of My Work
            <hr class="line" />
        </h2>
        <div class="col-md-12">

            <div id="mdb-lightbox-ui"></div>

            <div class="mdb-lightbox">

                <figure class="col-md-4 wow fadeInLeft">
                    <a href="https://kees-cleaning-service.netlify.app/" data-size="1600x1067">
                        <img src="/img/nailcare.png" class="img-fluid">
                    </a>
                </figure>

                <figure class="col-md-4 wow fadeInUp">
                    <a href="https://candle-shop.netlify.app/" data-size="1600x1067">
                        <img src="/img/candles.png" class="img-fluid" />
                    </a>
                </figure>

                <figure class="col-md-4 wow fadeInRight">
                    <a href="https://mobile-nail-care.netlify.app/" data-size="1600x1067">
                        <img src="/img/cleaners.png" class="img-fluid" />
                    </a>
                </figure>

            </div>

        </div>
    </div>
</div>