<div class="container-fluid my-5 py-5">
    <div>
        <div>
            <div class="flex-center flex-column mb-3" itemid="web developer">
                <div class="row justify-content-center align-items-center" itemref="web development">
                    <div class="col-md-12 text-center">
                        <h1>My Previous Work</h1>
                    </div>
                </div>
            </div>
            <!--First row-->
            <div class="row">

                <!--First column-->
                <div class="col-md-12">

                    <div id="mdb-lightbox-ui"></div>

                    <!--Full width lightbox-->
                    <div class="mdb-lightbox">

                        <figure class="col-md-4 wow fadeInLeft">
                            <a href="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(63).webp" data-size="1600x1067">
                                <img src="/img/barber.png" class="img-fluid z-depth-1">
                            </a>
                        </figure>

                        <figure class="col-md-4 wow fadeIn">
                            <a href="https://mdbootstrap.com/img/Mockups/Lightbox/Original/img%20(66).webp" data-size="1600x1067">
                                <img src="/img/candles.png" class="img-fluid z-depth-1">
                            </a>
                        </figure>

                        <figure class="col-md-4 wow fadeInRight">
                            <a href="https://mdbootstrap.com/img/Mockups/Lightbox/Original/img%20(65).webp" data-size="1600x1067">
                                <img src="/img/catering.png" class="img-fluid z-depth-1">
                            </a>
                        </figure>

                    </div>
                    <!--/Full width lightbox-->

                </div>
                <!--/First column-->

                <!--First column-->
                <div class="col-md-12">

                    <div id="mdb-lightbox-ui"></div>

                    <!--Full width lightbox-->
                    <div class="mdb-lightbox">

                        <figure class="col-md-4 wow fadeInLeft">
                            <a href="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(63).webp" data-size="1600x1067">
                                <img src="/img/cleaners.png" class="img-fluid z-depth-1">
                            </a>
                        </figure>

                        <figure class="col-md-4 wow fadeIn">
                            <a href="https://mdbootstrap.com/img/Mockups/Lightbox/Original/img%20(66).webp" data-size="1600x1067">
                                <img src="/img/dramacide.png" class="img-fluid z-depth-1">
                            </a>
                        </figure>

                        <figure class="col-md-4 wow fadeInRight">
                            <a href="https://mdbootstrap.com/img/Mockups/Lightbox/Original/img%20(65).webp" data-size="1600x1067">
                                <img src="/img/eCommerce.png" class="img-fluid z-depth-1">
                            </a>
                        </figure>

                    </div>
                    <!--/Full width lightbox-->

                </div>
                <!--/First column-->

                <!--First column-->
                <div class="col-md-12">

                    <div id="mdb-lightbox-ui"></div>

                    <!--Full width lightbox-->
                    <div class="mdb-lightbox">

                        <figure class="col-md-4 wow fadeInLeft">
                            <a href="https://mdbootstrap.com/img/Mockups/Lightbox/Thumbnail/img%20(63).webp" data-size="1600x1067">
                                <img src="/img/metalWeld.png" class="img-fluid z-depth-1">
                            </a>
                        </figure>

                        <figure class="col-md-4 wow fadeIn">
                            <a href="https://mdbootstrap.com/img/Mockups/Lightbox/Original/img%20(66).webp" data-size="1600x1067">
                                <img src="/img/nailcare.png" class="img-fluid z-depth-1">
                            </a>
                        </figure>

                        <figure class="col-md-4 wow fadeInRight">
                            <a href="https://mdbootstrap.com/img/Mockups/Lightbox/Original/img%20(65).webp" data-size="1600x1067">
                                <img src="/img/blueCollar.png" class="img-fluid z-depth-1">
                            </a>
                        </figure>

                    </div>
                    <!--/Full width lightbox-->

                </div>
                <!--/First column-->

            </div>
            <!--First row-->
        </div>
    </div>
</div>