<style>
    .gallery-intro {
        background: url('https://www1.sunybroome.edu/wp-content/uploads/2016/04/bps-websitedev.jpg')
        no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        padding-top: 230px;
        padding-bottom: 180px;
    }
</style>

<div class="gallery-intro">
    <div class="container text-center">
        <div>
            <h1 class="text-white display-2 fw-bold">CodeVanna Projects</h1>
            <a href="mailto:stephenbrooks714@gmail.com" class="btn btn-lg btn-primary rounded-pill">hire me</a>
        </div>
    </div>
</div>