<div class="jarallax">
    <img class="jarallax-img"
         src="https://ak5.picdn.net/shutterstock/videos/9269585/thumb/1.jpg"
         alt="web design">
    <div class="container" >
        <div style="height: 100vh">
            <div class="flex-center flex-column" itemid="web developer">
                <div class="row" itemref="web development">
                    <div class="col-md-6">
                        <h1>Stephen's Web Designs</h1>
                        <h2>Highly Customized & Responsive</h2>
                    </div>
                    <div class="col-md-6">
                        <h2>
                            Recent Review
                        </h2>
                        <hr>
                        <strong>Jessika Lynch - 10/2021</strong> <br>
                        <p>
                            "I absolutely love the website that Stephen made for me. I highly recommend him to anyone."
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>