<section class="container my-3 py-3">
    <h2 class="h1 mb-4">Previous Projects</h2>
    <div class="row text-center">
        <div class="col-md-3 zoom wow fadeInUp p-3">
            <h4>Catering</h4>
            <a target="_blank" href="https://catering-demo-1.netlify.app/">
                <img src="/img/catering.png"
                     class="img-fluid"
                     alt="img" />
            </a>
        </div>
        <div class="col-md-3 wow fadeInUp zoom p-3">
            <h4>Metal-Weld</h4>
            <a target="_blank" href="https://metal-weld.netlify.app/">
                <img src="/img/metalWeld.png"
                     class="img-fluid"
                     alt="img" />
            </a>
        </div>
        <div class="col-md-3 wow fadeInUp zoom p-3">
            <h4>Kennel</h4>
            <a target="_blank" href="https://www.dramacide-kennel.com/">
                <img src="/img/dramacide.png"
                     class="img-fluid"
                     alt="img" />
            </a>
        </div>
        <div class="col-md-3 wow fadeInUp zoom p-3">
            <h4>Barber</h4>
            <a target="_blank" href="https://barber-cuts.netlify.app/">
                <img src="/img/barber.png"
                     class="img-fluid"
                     alt="img" />
            </a>
        </div>
    </div>
</section>