<div class="container my-5 py-5">
    <div class="row text-center mb-8">
        <div class="col-md-3">
            <h3>Project</h3>
        </div>
        <div class="col-md-3">
            <h3>Project</h3>
        </div>
        <div class="col-md-3">
            <h3>Project</h3>
        </div>
        <div class="col-md-3">
            <h3>Project</h3>
        </div>
    </div>
    <div class="row text-center mb-8">
        <div class="col-md-3" data-mdb-toggle="animation"
             data-mdb-animation-start="onScroll"
             data-mdb-animation="fade-in"
             data-mdb-animation-delay="100">
            <h3>Project</h3>
        </div>
        <div class="col-md-3" data-mdb-toggle="animation"
             data-mdb-animation-start="onScroll"
             data-mdb-animation="fade-in"
             data-mdb-animation-delay="300">
            <h3>Project</h3>
        </div>
        <div class="col-md-3" data-mdb-toggle="animation"
             data-mdb-animation-start="onScroll"
             data-mdb-animation="fade-in"
             data-mdb-animation-delay="500">
            <h3>Project</h3>
        </div>
        <div class="col-md-3" data-mdb-toggle="animation"
             data-mdb-animation-start="onScroll"
             data-mdb-animation="fade-in"
             data-mdb-animation-delay="700">
            <h3>Project</h3>
        </div>
    </div>
    <div class="row text-center mb-8">
        <div class="col-md-3" data-mdb-toggle="animation"
             data-mdb-animation-start="onScroll"
             data-mdb-animation="fade-in"
             data-mdb-animation-delay="100">
            <h3>Project</h3>
        </div>
        <div class="col-md-3" data-mdb-toggle="animation"
             data-mdb-animation-start="onScroll"
             data-mdb-animation="fade-in"
             data-mdb-animation-delay="300">
            <h3>Project</h3>
        </div>
        <div class="col-md-3" data-mdb-toggle="animation"
             data-mdb-animation-start="onScroll"
             data-mdb-animation="fade-in"
             data-mdb-animation-delay="500">
            <h3>Project</h3>
        </div>
        <div class="col-md-3" data-mdb-toggle="animation"
             data-mdb-animation-start="onScroll"
             data-mdb-animation="fade-in"
             data-mdb-animation-delay="700">
            <h3>Project</h3>
        </div>
    </div>
    <div class="row text-center">
        <div class="col-md-3" data-mdb-toggle="animation"
             data-mdb-animation-start="onScroll"
             data-mdb-animation="fade-in"
             data-mdb-animation-delay="100">
            <h3>Project</h3>
        </div>
        <div class="col-md-3" data-mdb-toggle="animation"
             data-mdb-animation-start="onScroll"
             data-mdb-animation="fade-in"
             data-mdb-animation-delay="300">
            <h3>Project</h3>
        </div>
        <div class="col-md-3" data-mdb-toggle="animation"
             data-mdb-animation-start="onScroll"
             data-mdb-animation="fade-in"
             data-mdb-animation-delay="500">
            <h3>Project</h3>
        </div>
        <div class="col-md-3" data-mdb-toggle="animation"
             data-mdb-animation-start="onScroll"
             data-mdb-animation="fade-in"
             data-mdb-animation-delay="700">
            <h3>Project</h3>
        </div>
    </div>
</div>