<div class="row mb-8">
    <div class="col-md-6 p-3">
        <h2 class="display-4 fw-bold"
            data-mdb-toggle="animation"
            data-mdb-animation-start="onScroll"
            data-mdb-animation="fade-in-up"
            data-mdb-animation-delay="100">
            My Design
        </h2>
        <p class="text-muted"
           data-mdb-toggle="animation"
           data-mdb-animation-start="onScroll"
           data-mdb-animation="fade-in-up"
           data-mdb-animation-delay="300">
            I build websites with custom coding, a traditional approach to websites. The work and control is much more appreciated when it is done with your own hands and skills.
            Using a service like WordPress is subject to reusable templates, which means that someone else is using the same style as you. But, when you hire me, I make it authentically
            yours.
        </p>
        <a href="/about" class="btn btn-primary"
           data-mdb-toggle="animation"
           data-mdb-animation-start="onScroll"
           data-mdb-animation="fade-in-up"
           data-mdb-animation-delay="500">
            read about me
        </a>

    </div>
    <div class="col-md-6 p-3">
        <div class="lightbox">
            <div class="row">
                <div class="col-lg-6">
                    <img
                            src="https://images.unsplash.com/photo-1487014679447-9f8336841d58?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1305&q=80"
                            data-mdb-img="https://images.unsplash.com/photo-1487014679447-9f8336841d58?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1305&q=80"
                            alt="Table Full of Spices"
                            class="w-100 mb-2 mb-md-4"
                    />
                    <img
                            src="https://images.unsplash.com/photo-1496171367470-9ed9a91ea931?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
                            data-mdb-img="https://images.unsplash.com/photo-1496171367470-9ed9a91ea931?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80"
                            alt="Coconut with Strawberries"
                            class="w-100"
                    />
                </div>
                <div class="col-lg-6">
                    <img
                            src="https://images.unsplash.com/photo-1547658719-da2b51169166?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80"
                            data-mdb-img="https://images.unsplash.com/photo-1547658719-da2b51169166?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=764&q=80"
                            alt="example"
                            class="w-100"
                    />
                </div>
            </div>
        </div>
    </div>
</div>