<style>
    .icon{
        font-size: 53px;
    }
</style>

<div class="row text-center mb-8">
    <div class="col-md-4 p-3"
         data-mdb-toggle="animation"
         data-mdb-animation-start="onScroll"
         data-mdb-animation="fade-in-left"
         data-mdb-animation-delay="100">
        <i class="fab icon fa-mdb"></i>
        <h4>Front-End layouts with MDB5</h4>
        <p>
            A Materialistic way to design the webpages but still
            offer the same Bootstrap familiarity.
        </p>
    </div>
    <div class="col-md-4 p-3"
         data-mdb-toggle="animation"
         data-mdb-animation-start="onScroll"
         data-mdb-animation="fade-in-up"
         data-mdb-animation-delay="300">
        <i class="fab icon fa-node-js"></i> <i class="fas icon fa-database"></i>
        <h4>Back-End Integration with MongoDB</h4>
        <p>
            The database is MongoDB and the server to communicate with
            it is Node.js, a fast server language.
        </p>
    </div>
    <div class="col-md-4 p-3"
         data-mdb-toggle="animation"
         data-mdb-animation-start="onScroll"
         data-mdb-animation="fade-in-right"
         data-mdb-animation-delay="500">
        <i class="fab icon fa-sass"></i>
        <h4>Animations with MDB5 Css Effects</h4>
        <p>
            Animate some content to grab attention in areas that you really
            want to highlight to get the visitor's attention.
        </p>
    </div>
</div>